:root {
    --product-color: rgb(2, 172, 53);
    --brand-color: rgb(1, 136, 255);
    --active-search-color: var(--brand-color);
}

body {
    font-family: arial;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 100vh;
    margin: 0;
}

header {
    flex-shrink: 0;
    position: relative;
    top: 0;
    background: #eaeaea;
}

.header-base {
    width: 100%;
    height: 0.5em;
    background-color: var(--active-search-color);
    position: relative;
    z-index: 1;
}

label {
    font-size: 2.3rem;
    font-weight: bold;
    color: #f7f7f7;
    text-shadow: -1px 1px 1px #777, 1px 1px 1px #777, 1px -1px 1px #777, -1px -1px 5px #777;
}

input,
button {
    border: none;
    margin: 0.25em;
    font-size: 1.25rem;
}

.notification-bar {
    position: relative;
    border-radius: 0.5em;
    border: 2px solid rgb(0, 112, 146);
    background-color: rgb(223, 237, 242);
    padding: 0.5em 0.75em;
    max-width: max-content;
    margin: auto auto 0.25em auto;
}

.notif-text {
    margin: 0 0.25em 0.25em 0.25em;
    color: #666;
}

.notif-close {
    position: absolute;
    right: 2px;
    top: -6px;
    font-size: 1.5em;
    color: rgb(0, 112, 146);
    cursor: pointer;
}

.search-bar {
    padding: 0 0.5em;
    background: linear-gradient(#fff, var(--active-search-color));
}

.search-form {
    display: flex;
    margin: 0 auto 0 auto;
    width: 95%;
    flex-wrap: wrap;
}

.search-label {
    text-align: center;
    min-width: max-content;
    margin: 0.55em 0 0 0;
}

.search-input {
    padding: 0.4em 0.5em;
    border-radius: 1em;
    border: 2px #9e9e9e solid;
    flex-grow: 2;
    position: relative;
    z-index: 1;
    margin: 1em 1em 0 1em;
    max-height: 1.3em;
}

.search-btn-container {
    min-width: max-content;
    display: flex;
    margin: auto auto 0 auto;
}

.search-btn {
    padding: 0.3em 0.5em;
    width: 50%;
    cursor: pointer;
    margin-bottom: 0;
    border-radius: 1em 1em 0 0;
    font-size: 1.4rem;
}

.brand-btn {
    background-color: var(--brand-color);
    color: white;
    box-shadow: 0px 7px 8px #000;
    border: 1px var(--brand-color) solid, 1px var(--brand-color) solid, 1px var(--brand-color) solid, 1px #666 solid;
}

.brand-btn-active {
    background-color: var(--brand-color);
    color: white;
    box-shadow: 0px 7px 20px #000;
    border-top: 1px rgb(114, 189, 255) solid;
    border-right: 1px rgb(114, 189, 255) solid;
    border-left: 1px rgb(114, 189, 255) solid;
    border-bottom: 1px var(--brand-color) solid;
}

.products-btn {
    background-color: var(--product-color);
    color: white;
    box-shadow: 0px 7px 8px #000;
    border: 1px var(--product-color) solid, 1px var(--product-color) solid, 1px var(--product-color) solid,
        1px #666 solid;
}

.products-btn-active {
    background-color: var(--product-color);
    color: white;
    box-shadow: 0px 7px 20px #000;
    border-top: 1px rgb(3, 213, 66) solid;
    border-right: 1px rgb(3, 213, 66) solid;
    border-left: 1px rgb(3, 213, 66) solid;
    border-bottom: 1px var(--product-color) solid;
}

.content {
    flex: 1 0 auto;
    background: linear-gradient(var(--active-search-color), #fff 10%);
    position: relative;
    z-index: 1;
}

.results-container {
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    padding: 0.5em;
    border: 1px #eceaea solid;
    border-radius: 1em;
    background-color: #fdfdfd;
}

.result-row {
    display: grid;
    grid-template-columns: 1fr 2fr max-content;
    grid-template-rows: 1fr max-content;
    border-bottom: 1px #d5d5d5 solid;
    border-radius: 1em;
}

.result-row:hover,
.result-row:focus-within {
    border-radius: 1em;
    background-color: #fff;
    box-shadow: 0px 0px 19px #adabab94;
    border: 1px #cfcfcf solid;
}

.no-result-row {
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-bottom: 1px #d5d5d5 solid;
    border-radius: 1em;
}

.no-results {
    margin: 0.5em auto;
    font-size: 1.25rem;
    grid-column: 1/-1;
}

.alt-search {
    margin: 0.5em auto;
    font-size: 1.25rem;
    color: blue;
}

.result-row .brand-name {
    margin: 0.5em;
}

.result-row .brand-url {
    margin: 0.5em;
    overflow: hidden;
    white-space: nowrap;
}

.result-row .brand-list {
    display: none;
    grid-column: 1/-1;
    margin: 0.5em;
}

.result-row:hover .brand-list,
.result-row:focus-within .brand-list {
    display: block;
}

.result-row .edit-btn {
    display: block;
    cursor: pointer;
    background-image: url("./src/assets/edit-icon.svg");
    min-width: 1em;
    background-repeat: no-repeat;
    background-color: transparent;
    padding: 0.5em;
    margin: 0.4em;
}

/* Footer */
.footer-content {
    flex-shrink: 0;
    position: relative;
    display: flex;
    bottom: 0;
    flex-direction: row;
    border-top: 1px solid #e1e1e1;
    padding: 10px;
    text-align: center;
    font-weight: 700;
    color: #6c6c6c;
}
.footer-content .copyright {
    margin: auto 0 auto auto;
    display: flex;
    cursor: pointer;
    text-decoration: none;
    color: #6c6c6c;
}
.footer-content .copyright .logo {
    display: block;
    background-image: url("./src/assets/aux-logo-centered.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 0 0 2px;
    width: 20px;
    height: 20px;
}

.footer-content .contact {
    margin-right: auto;
    display: flex;
    cursor: pointer;
    border-bottom: 2px solid #e1e1e1;
    border-radius: 0 0 20px 20px;
    width: 100px;
    padding: 0 0 5px 5px;
}

.footer-content .github-link {
    display: flex;
}
.footer-content .github-link .octicon {
    height: 35px;
    width: 35px;
    margin: auto 10px auto auto;
    fill: #6c6c6c;
}

/* Login Form */
/* Bordered form */
.login-form {
    border: 3px solid #f1f1f1;
    border-radius: 0.5em;
}

/* Full-width inputs */
.modal-field {
    font-size: 1.25rem;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.45em;
    margin: 0.25em 0.45em;
    font-size: 1.25rem;
    border-radius: 0.85em;
}

.login-field {
    border: 1px solid #ccc;
}

/* Set a style for all buttons */
.btn-row {
    display: flex;
}

.modal-btn {
    width: 100%;
    background-color: #045aaa;
    color: white;
    padding: 0.45em;
    margin: 0.45em;
    border: none;
    cursor: pointer;
    border-radius: 0.85em;
}

/* Add a hover effect for buttons */
.login-btn:hover {
    opacity: 0.8;
}

.login-btn {
    background-color: #04aa6d;
}

/* Add padding to containers */
.container {
    margin: 0 1em 1em 1em;
    display: flex;
    flex-direction: column;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 0.25em auto;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

/* The Close Button */
.close {
    position: relative;
    margin-left: auto;
    margin-right: 0.45em;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
    color: rgb(179, 7, 7);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }
    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
