@import url("palette.css");
@import url("landing-page.css");
@import url("search-results.css");

/* 
    Alerts Bar
    Notification Bar
    Menu
    Search Bar
    Body
    Footer
    Forms, Modals, Buttons
    html (load last to stop FOUC)
*/

/*
 :root and palette variables imported from palette.css
*/

body {
  font-family: arial;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  height: 100vh;
  margin: 0;
  background-color: #f6f6f6;
}

header {
  flex-shrink: 0;
  position: relative;
  top: 0;
}

h2,
label {
  font-weight: bold;
  color: var(--colour-text);
}

label {
  margin: 0.25em;
  font-size: 1.75rem;
}

input,
button {
  border: none;
  margin: 0.25em;
  font-size: 1.25rem;
}

/* Alerts Bar */
.alert-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: max-content;
  background: #fff;
  margin: 0.5em auto 0.5em 0;
  border-radius: 0 0.75em 0.75em 0;
  box-shadow: 3px 4px 15px #000;
  height: fit-content;
  clip-path: circle(0px at left);
  opacity: 0.5;
  transition: clip-path ease-in-out 500ms, opacity ease-in-out 450ms;
  max-width: 100%;
  z-index: 11;
}

.alert--open {
  opacity: 1;
  clip-path: circle(250% at left);
}

.alert-modal {
  display: flex;
  flex-direction: column;
  position: relative;
  width: max-content;
  background: #fff;
  border-radius: 0.5em;
  padding: 1.5em 1.5em 1.2em 1.5em;
  margin: 0.65em;
  box-shadow: 0px 0px -1px #000;
}

.positive-alert {
  color: var(--positive-alert-color);
  background-color: var(--positive-alert-bgcolor);
  border: 2px solid var(--positive-alert-color);
}

.negative-alert {
  color: var(--negative-alert-color);
  background-color: var(--negative-alert-bgcolor);
  border: 2px solid var(--negative-alert-color);
}

.alert-text {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2rem;
}

.alert-close {
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 1.75rem;
  cursor: pointer;
  background-color: unset;
  padding: 0px 3px 3px 3px;
  margin: unset;
  color: inherit;
  right: 1px;
  line-height: 0.73;
  border-radius: 0 0.25em 0 0;
}

/* Notification Bar */
.notification-toggle {
  position: absolute;
  z-index: 2;
  right: 1.2em;
  top: 2.25em;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

.notification-toggle .notif-toggle--icon {
  font-size: 1.25rem;
  color: var(--bg-color-menu);
}

.notifications-title {
  color: var(--colour-text);
  font-size: 1.25rem;
  margin: 0 auto 0.5em auto;
  display: block;
  position: relative;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #666;
  padding: 0 0 0.25em 0;
}

.notifications-container {
  position: absolute;
  height: fit-content;
  z-index: 2;
  background: #fff;
  top: 5.5em;
  right: 0.5em;
  padding: 0.5em;
  border-radius: 0.5em;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.45);
  clip-path: circle(250% at top right);
  opacity: 1;
  transition: clip-path ease-in-out 500ms, opacity ease-in-out 450ms;
}

.notifications-container--hidden {
  opacity: 0;
  clip-path: circle(0px at top right);
}

.notifications-empty-msg {
  margin: 0 auto 0.25em auto;
  position: relative;
  padding: 0.5em 5em;
  border-bottom: 1px solid #666;
  display: none;
}

.view-history-btn {
  background-color: transparent;
  font-size: 1rem;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.notif-show-nomsg {
  display: block;
}

.notification-bar {
  display: block;
  position: relative;
  border-radius: 0.5em;
  padding: 0.75em 1.3em 0.75em 0.75em;
  margin: auto auto 0.25em auto;
}

.notif-text {
  margin: 0;
  border: none !important;
}

.notif-color--add {
  color: var(--notif-added-color);
  background-color: var(--notif-added-bgcolor);
  border: 2px solid var(--notif-added-color);
}

.notif-color--update {
  color: var(--notif-updated-color);
  background-color: var(--notif-updated-bgcolor);
  border: 2px solid var(--notif-updated-color);
}

.notif-color--delete {
  color: var(--notif-deleted-color);
  background-color: var(--notif-deleted-bgcolor);
  border: 2px solid var(--notif-deleted-color);
}

.notif-color--website {
  color: var(--notif-website-color);
  background-color: var(--notif-website-bgcolor);
  border: 2px solid var(--notif-website-color);
}

.notif-close {
  position: absolute;
  right: 2px;
  top: 2px;
  font-size: 1.35rem;
  cursor: pointer;
  font-size: 1.35rem;
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-weight: bold;
  line-height: 0.82;
  border-radius: 1em;
  border: none;
}

.more-notifications-btn {
  display: block;
  position: relative;
  margin: 0.5em auto 0 auto;
  color: white;
  background-color: #007092;
  cursor: pointer;
  border-radius: 0.5em;
  padding: 0.15em 0.5em;
  transition: box-shadow 200ms;
}

.more-notifications-btn:hover {
  box-shadow: var(--btn-box-shadow);
}

.more-notifications-btn--hidden {
  display: none;
}

/* Menu */
.site-nav {
  position: absolute;
  top: 0.25em;
  right: 0.85em;
  background: var(--background);
  clip-path: circle(0px at top right);
  opacity: 0;
  transition: clip-path ease-in-out 500ms, opacity ease-in-out 450ms;
  border-radius: 1em;
  z-index: 3;
  box-shadow: -3px 6px 10px rgba(0, 0, 0, 0.45);
}

.site-nav--open {
  opacity: 1;
  clip-path: circle(250% at top right);
}

.site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-nav li {
  border-bottom: 1px solid var(--border-menu);
  cursor: pointer;
}

.site-nav li:last-child {
  border-bottom: none;
}

.site-nav button {
  display: block;
  color: var(--colour-text);
  padding: 2em 4em 2em 1.5em;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  background: transparent;
  width: 100%;
  margin: 0;
  cursor: pointer;
}

.site-nav button:hover,
.site-nav button:focus {
  background: #fff;
  color: #464655;
  border-radius: 0.85em;
}

.site-nav button:active {
  box-shadow: inset var(--landing-box-shadow);
}

.site-nav--icon {
  display: inline-block;
  font-size: 1.5em;
  margin-right: 1em;
  width: 1em;
  text-align: right;
  color: rgba(0, 0, 0, 0.4);
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
  z-index: 3;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background-color: var(--bg-color-menu);
  height: 3px;
  width: 1.4em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

.open .hamburger {
  transform: rotate(45deg);
}

.open .hamburger::before {
  opacity: 0;
}

.open .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.nav-btn--hide {
  display: none !important;
}

/*
    Search Landing Page
*/
.content-landing {
  background: none;
}

.landing-page {
  display: contents;
}

.search-form-landing {
  display: flex;
  height: 100%;
}

/* Search Bar */
.search-bar {
  padding: 0;
}

.search-input {
  padding: 0.2em 0.5em;
  border-radius: 0.75em 0.75em;
  border: 1px #d6d6d6 solid;
  margin: 0.85em auto 0.85em 0.5em;
  flex-grow: 2;
  max-width: 500px;
  min-width: auto;
  outline: none;
  font-size: 1.35rem;
}

.search-input:focus,
.search-input:focus-visible {
  box-shadow: var(--landing-box-shadow);
  transition: all ease 0.3s;
  border: 1px solid #f2f2f2;
}

.brand-btn {
  background-color: var(--brand-color);
  color: white;
}

.products-btn {
  background-color: var(--product-color);
  color: white;
}

.warranty-btn {
  background-color: var(--warranty-color);
  color: white;
}

.shop-btn {
  background-color: var(--shop-color);
  color: white;
}

@media screen and (max-width: 610px) {
  body {
    margin: 0;
  }

  header {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 1.5rem;
  }

  .notification-toggle {
    right: 2.25em;
    top: 0em;
    padding: 0.25em 1em 1em 1em;
  }

  .notification-toggle .notif-toggle--icon {
    font-size: 1.2rem;
  }

  .notifications-container {
    top: 2.5em;
    right: 0;
  }

  .search-label {
    margin: 0.15em 0 0 0;
  }

  .search-input-row {
    flex-direction: column;
    margin: 0;
  }

  .search-input {
    margin: 0.5em 0 0.5em 0;
    width: 100%;
    min-width: auto;
  }

  .search-form {
    margin: 0;
    width: 100%;
    flex-direction: column;
  }

  .content .results-container {
    margin: 0.5em 0 0 0;
    padding: 0.5em 0;
  }

  .modal .modal-content {
    width: auto;
  }

  .modal .modal-content .container {
    margin: 0 0em 1em 0em;
  }

  .site-nav {
    top: 0.2em;
    right: 0.2em;
  }

  .menu-toggle {
    padding: 0.8em;
    right: 0em;
  }
  /* Footer @media*/
  .footer-content {
    flex-direction: column-reverse !important;
  }

  .footer-content .github-link {
    margin: auto;
  }

  .footer-acknowledgement {
    margin: 0.5em auto;
  }

  .footer-content .copyright {
    margin: auto !important;
  }
}

/* Body */
.content {
  flex: 1 0 auto;
  background: linear-gradient(var(--active-search-color), var(--active-search-color) 5em, #fff 66vh);
  z-index: 1;
}

.page-content {
  max-width: 1000px;
  margin: 0 auto;
}

.results-visible {
  display: none !important;
}

/* 5. Footer */
.footer-content {
  flex-shrink: 0;
  position: relative;
  display: flex;
  bottom: 0;
  flex-direction: row;
  border-top: 1px solid #e1e1e1;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #6c6c6c;
}
.footer-content .copyright {
  margin: auto 0;
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #6c6c6c;
}
.footer-content .copyright .logo {
  display: block;
  background-image: url("../assets/aux-logo-centered.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  margin: 0 0 0 2px;
  width: 20px;
  height: 20px;
}

.footer-content .contact {
  margin-right: auto;
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #e1e1e1;
  border-radius: 0 0 20px 20px;
  width: 100px;
  padding: 0 0 5px 5px;
}

.footer-links {
  display: flex;
  margin: 0 auto;
}

.footer-content .github-link {
  display: flex;
}
.footer-content .github-link .octicon {
  height: 35px;
  width: 35px;
  margin: auto 10px auto auto;
  fill: #6c6c6c;
}
.footer-content .footer-contact-btn {
  margin: 0;
  cursor: pointer;
  background-color: transparent;
  color: #6c6c6c;
}

.footer-contact-btn i {
  color: inherit;
  margin: 0;
}

.footer-acknowledgement {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-align: center;
  font-size: 0.8rem;
  color: #d2d2d2;
}

/* History */
.history-modal {
  padding: 0 !important;
}

.history-content {
  max-width: none !important;
}

.history-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0000008f;
  height: 100vh;
  width: 100%;
}

.history-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--border-menu);
  padding: 0.5em;
}

/* Login Form */
/* Bordered form */
.login-form {
  border: 3px solid #f1f1f1;
  border-radius: 0.5em;
}

.login-title {
  font-size: 1.25rem;
  padding: 0 0 0.4em 0;
  margin: 0 0.45em;
}

.login-info {
  padding: 0.45em;
  margin: 0.65em auto 0.45em 0.45em;
}

.login-progress-bar {
  display: block;
  height: 4px;
  width: 100%;
  border-bottom: 1px solid #666;
  margin: 1em 0 -0.75em 0;
}

.login-progress-bar .login-progress {
  display: block;
  height: 100%;
  background-color: #2696ff;
  width: 0%;
}

/* Full-width inputs */
.modal-field {
  font-size: 1.25rem;
  display: inline-block;
  box-sizing: border-box;
  padding: 0.45em;
  margin: 0.25em 0.45em;
  border-radius: 0.85em;
}

.modal-field-label {
  font-size: 1.25rem;
  padding: 0.45em 0.45em 0 0.45em;
  margin: 0.25em 0.45em 0 0.45em;
}

.login-field {
  border: 1px solid #ccc;
}

.shop-field {
  border: 1px solid #ccc;
}

/* Set a style for all buttons */
.btn-row {
  display: flex;
  border-bottom: 1px var(--border-menu) solid;
  position: relative;
}

.modal-btn {
  width: 100%;
  background-color: #045aaa;
  color: white;
  padding: 0.45em 1em;
  margin: 0.45em auto;
  border: none;
  cursor: pointer;
  border-radius: 0.85em;
  width: fit-content;
  transition: box-shadow 200ms;
}

.modal-btn:hover,
.modal-btn:focus-visible {
  box-shadow: var(--btn-box-shadow);
}

.modal-btn:active {
  box-shadow: inset var(--landing-box-shadow);
}

.link-button {
  background-color: transparent;
  font-size: 1.1rem;
  color: blue;
  cursor: pointer;
}

/* Add a hover effect for buttons */
.login-btn:hover {
  opacity: 0.8;
}

.login-btn,
.add-btn {
  background-color: #04aa6d;
}

.update-btn {
  background-color: #e68200;
}

.delete-btn {
  background-color: #e63a00;
}

/* Add padding to containers */
.container {
  margin: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
}

.container .shop-id {
  display: none;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

/* The Modal (background) */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 1em;
  opacity: 0;
  clip-path: circle(0px at center);
  transition: clip-path ease-in-out 500ms, opacity ease-in-out 450ms;
}

.modal-open {
  opacity: 1;
  clip-path: circle(250% at center);
  z-index: 10;
}

.modal-title {
  font-weight: bold;
  color: var(--colour-text);
  font-size: 1.5rem;
  padding: 0.45em;
  margin: 0 auto;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 0 auto 2em auto;
  border: 1px solid #888;
  width: 80%;
  max-width: 900px;
  border-radius: 1em;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.45);
}

.modal-textarea {
  resize: vertical;
}

.change-notes {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 1em;
  padding: 0;
  border-top: 1px solid var(--border-menu);
}

.change-notes label {
  padding-bottom: 0;
  margin-left: 0.25em;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.contact-progress-bar {
  display: block;
  height: 4px;
  width: 100%;
  border-bottom: 1px solid #666;
  margin: 0.25em 0 0.25em 0;
}

.contact-progress-bar .contact-progress {
  display: block;
  height: 100%;
  background-color: #2696ff;
  width: 0%;
}

/* The Close Button */
.close {
  display: block;
  position: absolute;
  margin: 0;
  padding: 0 4px 5px 5px;
  color: var(--colour-text);
  font-size: 2.2rem;
  background: transparent;
  line-height: 0.8;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

html {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}
/*# sourceMappingURL=styles.css.map */
