@import url("palette.css");

.search-form-landing .search-form {
  display: flex;
  flex-direction: column;
  margin: 15em auto;
}

/*
 Input Field
*/
.search-form-landing .search-form .search-input-row {
  display: flex;
  flex-direction: column;
}

.search-form-landing .search-input-row .label-platform {
  border-radius: 3em;
  margin: 2em 3em;
  padding: 1em 2em;
  max-width: 455px;
  box-shadow: var(--landing-box-shadow);
}

.search-form-landing .search-input-row .search-label {
  text-align: center;
  width: max-content;
  margin: 0;
  font-size: 3.25rem;
}

.search-form-landing .search-input-row .search-input {
  text-align: start;
  width: 100%;
  margin: 2em 0 1.5em 0;
  max-width: none;
  border: 1px solid #d6d6d6;
  padding: 0.5em 2em;
  border-radius: 1em;
  transition: all ease 0.3s;
}

.search-form-landing .search-input-row .search-input:focus,
.search-form-landing .search-input-row .search-input:focus-visible {
  box-shadow: var(--landing-box-shadow);
  transition: all ease 0.3s;
  border: 1px solid #f2f2f2;
}

.search-form-landing .search-input-row .input-container {
  position: relative;
}

.search-form-landing .search-input-row .search-icon {
  position: absolute;
  top: 3.5em;
  left: 1em;
  color: var(--colour-text);
}

/*
 Search Buttons
*/
.search-btn-container {
  min-width: max-content;
  display: flex;
  margin: 0 auto;
}

.search-btn-container .search-btn {
  border-radius: 1.75em;
  padding: 0.6em 0.8em;
  width: 50%;
  max-width: fit-content;
  cursor: pointer;
  margin: 0.25em 0.75em 0 0.75em;
  font-size: 1em;
  border: 1px solid #d2d2d2;
  background: #f9f9f9;
  transition: all ease 0.3s;
}

.search-btn-container .search-btn:focus-visible,
.search-btn-container .search-btn:hover {
  transition: all ease 0.3s;
  box-shadow: var(--landing-box-shadow);
  outline: none;
}

.search-btn-container .search-btn:active {
  box-shadow: inset var(--landing-box-shadow);
}

.search-btn-container .search-all-btn {
  border-radius: 0.75em;
}

.search-btn-container .browse-btn {
  border-radius: 0.75em;
}
