
.browse-btn {
    border-radius: 1.75em;
    padding: 0.2em 0.5em;
    width: 50%;
    max-width: 105px;
    cursor: pointer;
    border-radius: 0.75em 0.75em 0 0;
    margin: 0.25em 0.25em 0 0.25em;
}

.manage-btn {
    margin-left: auto;
    background-color: #8c8c8c;
    color: #fff;
}

.manage-btn-visible {
    display: block !important;
}

.manage-visible {
    display: block !important;
}

.site-manager {
    background-color: var(--background);
    font-family: arial;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    height: 100vh;
    margin: 0;
}

.site-manager .manage-form {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    max-width: 50em;
    min-width: 25em;
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--border-menu);
    background-color: var(--background-form);
}

.manage-form .form-row {
    display: flex;
    width: auto;
}

.manage-form .form-row > input, 
.manage-form .form-row > button {
    /* ignore other formatting */
    border: revert;
    font-size: revert;
}

.manage-form .form-area > input, 
.manage-form .form-area > button {
    /* ignore other formatting */
    border: revert;
    font-size: revert;
}

.manage-form .form-area {
    display: flex;
    flex-direction: column;
}

.manage-form .label-form {
    margin: 0 auto 0.75em auto;
}

.manage-form .input-field {
    margin-bottom: 0.75em;
    margin-right: 0.5em;
    flex-grow: 2;
}

.manage-form .input-btn {
    flex-grow: 0;
    margin: 0em 0em 0.75em 0em;
}

.manage-form .textarea-field {
    margin-right: 0em;
}

.manage-form .textarea-btn {
    margin-left: auto;
}