@import url("palette.css");

.results-container {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
  padding: 0.5em;
  border: 1px #eceaea solid;
  border-radius: 1em;
  background-color: #fdfdfd;
  box-shadow: 0px 3px 5px #00000040;
}

.result-row {
  display: flex;
  flex-direction: column;
  border-bottom: 1px #d5d5d5 solid;
  border-radius: 1em;
  padding: 0 0 0 0.5em;
  font-size: 1.15rem;
  transition: box-shadow 500ms;
}

.result-row:hover,
.result-row:focus-within {
  border-radius: 1em;
  background-color: #fff;
  box-shadow: 0px 5px 5px #00000040;
  border: 1px #f0f0f0 solid;
}

.result-row:hover .result-body {
  grid-template-rows: 1fr;
}

.result-header {
  display: grid;
  grid-template-columns: 2fr 2fr max-content;
  grid-template-rows: 1fr max-content;
}

.result-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0fr;
  transition: grid-template-rows 500ms;
}

.result-body > div {
  overflow: hidden;
}

.result-row-incomplete {
  background-color: #fea96b;
}

.fake-result-row {
  clip-path: circle(0px at top left);
  opacity: 0;
  transition: clip-path ease-in-out 500ms, opacity ease-in-out 450ms;
}

.fake-result-row-visible {
  clip-path: circle(250% at top left);
  opacity: 1;
}

.result-text-highlight {
  background-color: #00ff10;
  padding: 0 0.2em;
  border-radius: 0.2em;
}

.result-row .shop-id {
  display: none;
}

.no-result-row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom: 1px #d5d5d5 solid;
  border-radius: 1em;
}

.no-results {
  margin: 0.5em auto;
  padding: 0.5em;
  font-size: 1.25rem;
  grid-column: 1/-1;
}

.alt-search {
  font-size: 1.25rem;
  color: blue;
  margin: 0.25em auto;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.alt-search:hover {
  text-decoration: underline;
}

.result-row .brand-name {
  margin: 0.7em 0.5em 0.5em 0.5em;
}

.result-row .fake-brand-name {
  margin: 0.6em 0.5em 0.5em 0.5em;
  filter: blur(2px);
  animation: grow-blur 2s ease-in-out infinite;
}

.result-row .brand-url {
  margin: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  margin: auto 0.5em;
  color: var(--btn-off-box-shadow);
  text-decoration: none;
}

.result-row .brand-url:hover,
.result-row .brand-url:focus {
  text-decoration: underline;
}

.result-row .fake-brand-url {
  margin: 0.5em;
  overflow: hidden;
  white-space: nowrap;
  color: blue;
  text-decoration: underline;
  filter: blur(2px);
  animation: grow-blur 2s ease-in-out infinite;
}

@keyframes grow-blur {
  0% {
    filter: blur(3px);
  }
  20% {
    filter: blur(4px);
  }
  40% {
    filter: blur(5px);
  }
  60% {
    filter: blur(4px);
  }
  80% {
    filter: blur(3px);
  }
  100% {
    filter: blur(2px);
  }
}

.result-row .brand-list {
  display: none;
  grid-column: 1/-1;
  margin: 0.5em;
}

.show-item-list {
  display: none;
}

.result-row:hover .show-item-list,
.result-row:focus-within .show-item-list {
  display: block;
}

.result-row .product-list {
  display: none;
  grid-column: 1/-1;
  margin: 0.5em;
}

.result-row .warranty-list {
  display: none;
  grid-column: 1/-1;
  margin: 0.5em;
}

.result-row .shop-list {
  display: none;
  grid-column: 1/-1;
  margin: 0.5em;
}

.result-row .edit-btn {
  display: block;
  cursor: pointer;
  min-width: 1em;
  background-repeat: no-repeat;
  background-color: transparent;
  margin-right: -0.5em;
}

.result-row .view-btn {
  color: var(--search-view-color);
  display: inline-block;
  margin-right: 1em;
  width: 1em;
  text-align: right;
  font-size: 1em;
  border: 2px solid #fff;
  border-radius: 1em;
  padding: 5px 10px 5px 0;
  box-shadow: var(--icon-box-shadow);
}

.result-row .view-btn:active {
  box-shadow: inset var(--landing-box-shadow);
}

.result-row .fake-btn {
  filter: blur(2px);
  animation: grow-blur 2s ease-in-out infinite;
}

.result-label-wrapper {
  margin: auto;
}

.result-label {
  border-radius: 0.25em;
  padding: 0.1em 0.2em;
  font-size: 1rem;
  background: #d2d2d2;
  color: #686868;
}

.brand-label-active {
  background-color: var(--brand-color);
  color: white;
  box-shadow: var(--result-label-shadow);
  border: 1px var(--brand-border) solid;
}

.products-label-active {
  background-color: var(--product-color);
  color: white;
  box-shadow: var(--result-label-shadow);
  border: 1px var(--product-border) solid;
}

.warranty-label-active {
  background-color: var(--warranty-color);
  color: white;
  box-shadow: var(--result-label-shadow);
  border: 1px var(--warranty-border) solid;
}

.shop-label-active {
  background-color: var(--shop-color);
  color: white;
  box-shadow: var(--result-label-shadow);
  border: 1px var(--shop-border) solid;
}
