ul {
    padding: 2em;
    margin: 0;
}

li {
    list-style: none;
    padding: 0.25em;
}

.shop-view-notes {
    white-space: pre-wrap;
}

.shop-id {
    display: none;
}

.view-rows-container {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.view-row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 1px solid #e1dede;
}

.view-label {
    font-weight: bold;
    grid-column: 1;
    font-size: 1.25rem;
    padding: 0.25em;
    min-width: 5.25em;
}

.view-data {
    grid-column: 2 / span 5;
    font-size: 1.25rem;
    padding: 0.25em;
    text-align: left;
}

.view-data a {
    word-wrap: anywhere;
}

.view-data-mono {
    font-family: monospace;
    white-space: pre-wrap;
}

@media screen and (max-width: 550px) {
    .view-data {
        grid-column: 1 / span 6;
        font-size: 1.25rem;
        padding: 0.25em;
        text-align: left;
    }
}